.traffic {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.color {
  font-size: 400px;
}

.buttonColor {
  font-size: 5rem;
  border-radius: 20px;
  padding: 20px;
  background-color: aliceblue;
}
